<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Hive teams up with Pocket to send you reminders along with your reading list - so that you never forget a bookmark again.">
    <meta name="author" content="Krishnan">

    
    <!-- Website Title -->
    <title>Hive - Read your bookmarks</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/settings.css" rel="stylesheet">

	<!-- Favicon  -->
    <link rel="icon" href="images/mini-logo.png">
</head>
<body>

    <div class="product-brand">
        <img class="logo" src="images/product-brand.png" alt="logo">
    </div>
    <div class="image-container">
            <img class="img-fluid" src="images/undraw_personal_settings_kihd.svg" alt="alternative">
    </div>
    <div class="settings-container">
            <%if (data.pocketConnected) { %>
                <h5>Your Pocket account is synced with Hive <i class="fa fa-check-circle" style="color:green" aria-hidden="true"></i>
                </h5>

            <% } else { %> 
                <h5> Have a Pocket account? Connect it with Hive. <a href="<%= data.link %>">Click Here</a></h5>
            <% } %>    
            <br>
            <div class="row day-select-container">
                    <div class="col-3 text-right">
                        <h6>Choose days</h6>
                    </div>
                <ul class="days-of-week">
                  <li><input class="weekday" type="checkbox" id="checkboxOne" value=1 <%= data.dayList["1"] ? "checked" : "" %>><label for="checkboxOne">Monday</label></li>
                  <li><input class="weekday" type="checkbox" id="checkboxTwo" value=2 <%= data.dayList["2"] ? "checked" : "" %>><label for="checkboxTwo">Tuesday</label></li>
                  <li><input class="weekday" type="checkbox" id="checkboxThree" value=3 <%= data.dayList["3"] ? "checked" : "" %>><label for="checkboxThree">Wednesday</label></li>
                  <li><input class="weekday" type="checkbox" id="checkboxFour" value=4 <%= data.dayList["4"] ? "checked" : "" %>><label for="checkboxFour">Thursday</label></li>
                  <li><input class="weekday" type="checkbox" id="checkboxFive" value=5 <%= data.dayList["5"] ? "checked" : "" %>><label for="checkboxFive">Friday</label></li>
                  <li><input class="weekday" type="checkbox" id="checkboxSix" value=6 <%= data.dayList["6"] ? "checked" : "" %>><label for="checkboxSix">Saturday</label></li>
                  <li><input class="weekday" type="checkbox" id="checkboxSeven" value=7 <%= data.dayList["7"] ? "checked" : "" %>><label for="checkboxSeven">Sunday</label></li>
                </ul>
            </div>
    
            <div class="row">
                <h5 class="col-3 text-right">Pick time (24hr format)</h5>
                <select class="time-picker">
                    <option <%= data.mailTime == 0 ? "selected" : "" %>> 0 </option>
                    <option <%= data.mailTime == "1" ? "selected" : "" %>> 1 </option>
                    <option <%= data.mailTime == "2" ? "selected" : "" %>>2</option>
                    <option <%= data.mailTime == "3" ? "selected" : "" %>>3</option>
                    <option <%= data.mailTime == "4" ? "selected" : "" %>>4</option>
                    <option <%= data.mailTime == "5" ? "selected" : "" %>>5</option>
                    <option <%= data.mailTime == "6" ? "selected" : "" %>>6</option>
                    <option <%= data.mailTime == "7" ? "selected" : "" %>>7</option>
                    <option <%= data.mailTime == "8" ? "selected" : "" %>>8</option>
                    <option <%= data.mailTime == "9" ? "selected" : "" %>>9</option>
                    <option <%= data.mailTime == "10" ? "selected" : "" %>>10</option>
                    <option <%= data.mailTime == "11" ? "selected" : "" %>>11</option>
                    <option <%= data.mailTime == "12" ? "selected" : "" %>>12</option>
                    <option <%= data.mailTime == "13" ? "selected" : "" %>>13</option>
                    <option <%= data.mailTime == "14" ? "selected" : "" %>>14</option>
                    <option <%= data.mailTime == "15" ? "selected" : "" %>>15</option>
                    <option <%= data.mailTime == "16" ? "selected" : "" %>>16</option>
                    <option <%= data.mailTime == "17" ? "selected" : "" %>>17</option>
                    <option <%= data.mailTime == "18" ? "selected" : "" %>>18</option>
                    <option <%= data.mailTime == "19" ? "selected" : "" %>>19</option>
                    <option <%= data.mailTime == "20" ? "selected" : "" %>>20</option>
                    <option <%= data.mailTime == "21" ? "selected" : "" %>>21</option>
                    <option <%= data.mailTime == "22" ? "selected" : "" %>>22</option>
                    <option <%= data.mailTime == "23" ? "selected" : "" %>>23</option>
                </select>
            </div>
           <button class="save-settings">Update Preferences</button> 
           <span class="save-response"></span>
    </div>
       
</body>
<script src="js/settings.js" type="text/javascript"></script>

</html>

